@import '../abstract/variables';

.banner {
  background: url(../../imagens/banner.jpeg) 27% center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  opacity: 0.9;

  .inner-banner {
    padding: 3rem;
    background-color: $cor-terciaria;
    opacity: 0.9;
    border-radius: 45px;

    h1 {
      font-size: $fonte-size-3-0;
      color: $cor-primaria;
    }
    h2 {
      font-size: $fonte-size-3-0 / 2;
      color: $cor-secundaria;
    }
  }
}