@import '../abstract/variables';

#cupom {
  background-color: $cor-terciaria;
  padding: 4rem;
  text-align: center;

  .texto {
    color: $cor-primaria;

    h2 {
      margin: 2rem;
      font-size: $fonte-size-3-0;
    }
  }

  .input {
    margin: 0 auto;
    width: 575px;
    border-radius: 20px;
    border: 4px solid #FFF;
    background-color: #FFF;

    input {
      border-radius: 20px;
      height: 45px;
      border: none;
      width: 560px;
      outline: none;
      text-align: center;
      font-size: 26px;
    }

    &:hover,
    &:focus-within {
      box-shadow: 1px 1px 8px 1px $cor-primaria;
      outline: none;
    }
  }

  button {
    text-transform: uppercase;
    margin-top: .75rem;
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    background-color: $cor-primaria;
    color: $cor-secundaria;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border: 2px $cor-primaria;
    border-radius: 40px;

    &:hover {
      color: $cor-primaria;
      background-color: $cor-secundaria;
      border-color: $cor-terciaria;
      transition: 0.3s;
    }
  }
}