@import '../abstract/variables';

#curiosidades {
  padding: 1rem;
  text-align: center;
  margin: 5px;

  .curiosidades-container {
    display: flex;
    align-items: center;
  }

  h3 {
    color: $cor-primaria;
    font-size: $fonte-size-3-0 / 2.5;
  }

  h4 {
    color: $cor-secundaria;
    font-size: $fonte-size-3-0 / 3;
  }

  p {
    margin-top: 5px;
    color: $cor-primaria;
  }
}