@import '../abstract/variables';

@mixin bg-gradient($cors...) {
  @if $cors == left {
    background: linear-gradient(to left, $cors);
  } @else {
    background: linear-gradient(to right, $cors);
  }
}

footer {
  text-align: center;
  padding: 2rem;
  // background-color: $cor-secundaria;
  @include bg-gradient($cor-primaria, $cor-secundaria);
  color: #FFF;
  font-weight: bold;
  font-size: 1.3rem;

  .fas {
    &.fa-heart {
      font-size: 23px;
    }
  }
}