@import '../abstract/variables';

nav {
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

  ul {
    li {
      display: inline-block;
      padding: 1rem;

      a {
        color: $cor-primaria;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          border-bottom: 2px solid $cor-secundaria;
        }
      }
    }
  }
}