@media (max-width: 1250px) {
  .img-container {
    img {
      max-width: 90% !important;
      margin-top: 2rem;
    }
  }
}

@media (max-width: 780px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .input {
    max-width: 100%;
    input {
      max-width: 100%;
    }
  }

  #servicos {
    margin: 50px;
    h3 {
      margin-bottom: 40px;
    }
  }

  .curiosidades-container {
    flex-direction: column;
  }
}