html,
body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

nav {
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
nav ul li {
  display: inline-block;
  padding: 1rem;
}
nav ul li a {
  color: #495371;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  border-bottom: 2px solid #74959A;
}

.banner {
  background: url(../../imagens/banner.jpeg) 27% center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  opacity: 0.9;
}
.banner .inner-banner {
  padding: 3rem;
  background-color: #F1E0AC;
  opacity: 0.9;
  border-radius: 45px;
}
.banner .inner-banner h1 {
  font-size: 3rem;
  color: #495371;
}
.banner .inner-banner h2 {
  font-size: 1.5rem;
  color: #74959A;
}

#servicos {
  margin: 80px;
}
#servicos h4 {
  font-size: 1.2rem;
  color: #74959A;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  /* 
    16px * 1 = 16px 
    16px * 2 = 32px
  */
  margin: 2rem;
}
#servicos h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 80px;
  font-weight: 300;
}
#servicos .cards {
  display: flex;
  justify-content: space-evenly;
}
#servicos .cards .card {
  width: 360px;
  text-align: center;
}
#servicos .cards .card h5 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #495371;
}
#servicos .cards .card p {
  font-size: 1rem;
  font-weight: 300;
  color: #495371;
  line-height: 1.25rem;
}
#servicos .cards .card .img-container {
  padding-bottom: 2px;
  border-bottom: 6px solid #74959A;
}
#servicos .cards .card .img-container img {
  max-width: 100%;
}

#cupom {
  background-color: #F1E0AC;
  padding: 4rem;
  text-align: center;
}
#cupom .texto {
  color: #495371;
}
#cupom .texto h2 {
  margin: 2rem;
  font-size: 3rem;
}
#cupom .input {
  margin: 0 auto;
  width: 575px;
  border-radius: 20px;
  border: 4px solid #FFF;
  background-color: #FFF;
}
#cupom .input input {
  border-radius: 20px;
  height: 45px;
  border: none;
  width: 560px;
  outline: none;
  text-align: center;
  font-size: 26px;
}
#cupom .input:hover, #cupom .input:focus-within {
  box-shadow: 1px 1px 8px 1px #495371;
  outline: none;
}
#cupom button {
  text-transform: uppercase;
  margin-top: 0.75rem;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  background-color: #495371;
  color: #74959A;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border: 2px #495371;
  border-radius: 40px;
}
#cupom button:hover {
  color: #495371;
  background-color: #74959A;
  border-color: #F1E0AC;
  transition: 0.3s;
}

#curiosidades {
  padding: 1rem;
  text-align: center;
  margin: 5px;
}
#curiosidades .curiosidades-container {
  display: flex;
  align-items: center;
}
#curiosidades h3 {
  color: #495371;
  font-size: 1.2rem;
}
#curiosidades h4 {
  color: #74959A;
  font-size: 1rem;
}
#curiosidades p {
  margin-top: 5px;
  color: #495371;
}

footer {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(to right, #495371, #74959A);
  color: #FFF;
  font-weight: bold;
  font-size: 1.3rem;
}
footer .fas.fa-heart {
  font-size: 23px;
}

@media (max-width: 1250px) {
  .img-container img {
    max-width: 90% !important;
    margin-top: 2rem;
  }
}
@media (max-width: 780px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .input {
    max-width: 100%;
  }
  .input input {
    max-width: 100%;
  }
  #servicos {
    margin: 50px;
  }
  #servicos h3 {
    margin-bottom: 40px;
  }
  .curiosidades-container {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */